<iframe style="display: none" name="dummyframe" id="dummyframe"></iframe>

<div class="sec-1">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="sp-stats-card sp-stats-1">
                <div class="text-heading">
                    <h2>Messages Today</h2>
                </div>
                <p id="msgToday">{{todayCount.count}}</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="sp-stats-card sp-stats-2">
                <div class="text-heading">
                    <h2>Current Users</h2>
                </div>
                <p>102</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="sp-stats-card sp-stats-3">
                <div class="text-heading">
                    <h2>Current Users</h2>
                </div>
                <p>102</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="sp-stats-card sp-stats-4 {{bot_status}}">
                <div class="text-heading">
                    <h2>Bot Status</h2>
                </div>
                <div class="bot-status-text">
                    <p>{{bot_status}}</p>
                    <div class="bot-status" id="bot-status"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sec-2">
    <div class="row">
        <div class="col-sm-6">
            <div class="sp-card-item">
                <h1 class="head-1">Send Message</h1>
                <form action="/sendMessage" method="POST" target="dummyframe" id="msgForm">
                    <input type="hidden" name="token" value="{{token}}">
                    <div class="mb-3">
                        <label for="selectChannel" class="form-label">Select Channel</label>
                        <select class="form-select form-select-md" name="channelid" id="selectChannel">
                            {{#each chans}}
                            <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="msgText" class="form-label">Message</label>
                        <textarea name="text" id="msgText" class="form-control"></textarea>
                    </div>
                    <button type="submit" id="sendMsgBtn" class="btn btn-primary">SEND</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="sp-card-item">
                <h1 class="head-1">Mod Overview</h1>
                <div class="mod-overview">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">DISCORD NAME</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each mods}}
                            <tr>
                                <th scope="row">{{this.userid}}</th>
                                <td>
                                    <img class="mod_img_view" src="https://cdn.discordapp.com/avatars/{{this.userid}}/{{this.avatar}}.png">
                                    {{this.name}}#{{this.disc}}
                                </td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sec-3">
    <div class="row">
        <div class="col-sm-6">
            <div class="sp-card-item">
                <h1 class="head-1">Roles Overview</h1>
                <div class="mod-overview">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">ROLE NAME</th>
                                <th scope="col">ROLE COLOR</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each roles}}
                            <tr>
                                <th scope="row">{{this.id}}</th>
                                <td style='color: {{this.color}}'>
                                    {{this.name}}
                                </td>
                                <td>{{this.color}}</td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="sp-card-item">
                <h1 class="head-1">Emoji Overview</h1>
                <div class="mod-overview">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">EMOJI NAME</th>
                                <th scope="col">EMOJI IMAGE</th>
                                <th scope="col">ANIMATED</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each emojis}}
                            <tr>
                                <th scope="row">{{this.id}}</th>
                                <td>
                                    {{this.name}}
                                </td>
                                <td class="emoji_image_td">
                                    <img class="emoji_image" src="https://cdn.discordapp.com/emojis/{{this.id}}">
                                </td>
                                <td>
                                    <div class='emoji_is_{{this.animated.bool}}'>
                                        <span class='badge bg-{{this.animated.badge}}'>{{this.animated.text}}</span>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>